doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='material.min.css')
    script(src='material.min.js')
    link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
  body
    block content
